"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    fontSize: 11
    preferredLineLength: 100
    softTabs: false
    showInvisibles: true
  core:
    disabledPackages: [
      "autocomplete"
      "minimap"
      "tab-move-key"
      "atom-lint"
      "vim-mode"
    ]
  "exception-reporting":
    userId: "3ac7bdaa-13cd-908f-74b4-4c822bcc41a1"
  welcome:
    showOnStartup: false
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  linter:
    showErrorInline: false
  "autocomplete-plus": {}
  "atom-lint": {}
  minimap: {}
  "highlight-line":
    enableBackgroundColor: false
    hideHighlightOnSelect: true
    enableUnderline: true
  "markdown-preview":
    breakOnSingleNewline: true
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-less":
    lessExecutablePath: "/usr/bin/less"
  term2:
    colors: {}
    cursorBlink: false
  "linter-js-yaml": {}
  "web-browser": {}
".erb.html.text":
  editor:
    preferredLineLength: 100
".css.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".ruby.source":
  editor:
    preferredLineLength: 100
